*.o
node_modules
*.wasm
*.a
.obj
*.html
*.c
hello
hello-world
hello.js
qjs
qjsc
qjscalc
run-test262
.vscode/launch.json
examples/fib.so
examples/hello_module
examples/helloWorld
examples/point.so
examples/test_fib
